// Variables
$logoHeight: 85px;
$mainWidth: 1300px;

// General
* {
  margin: 0;
  padding: 0;
  user-select: none;
  color: white;
}

ul {
  list-style: none;
}

// Containers
.mainContainer {
  display: flex; // makes it a flex-container
  flex-direction: column; // every next element goes down
  width: 1250px;
  margin: 0 auto;
  background-color: lightcyan;

  .headContainer {
    display: flex;
    justify-content: center;
    background-color: springgreen;

    .headSection {
      display: flex;
      justify-content: space-between;
      flex: 1;
      height: $logoHeight;
      background-color: lightgoldenrodyellow;

      .logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        background-color: aquamarine;

        .logoSection {
          max-width: 50%;

          .logoPic {
            width: 100%; // fix
          }

          &:hover {
            background-color: darkred;
            cursor: pointer;
          }
        }
      }

      .basketContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        background-color: lightblue;

        .basketSection {
          max-width: 20%;

          .basketPic {
            width: 100%; // possibly fix
          }

          // acts like .basketPic hover
          &:hover {
            background-color: darkred;
            cursor: pointer;
          }
        }
      }
    }
  }

  .menuContainer {
    background-color: lightsteelblue;

    .menu {
      display: flex;
      justify-content: space-around;

      .menuItem {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0.247;
        height: 50px;
        border: 2px solid darkred;
        background-color: black;
        transition: background-color 1s;

        &:hover {
          background-color: darkred;
          border: 2px solid black;
          cursor: pointer;
        }
      }
    }
  }

  .slideShowContainer {

    .slideShowImages {
      display: flex;
      justify-content: center;
    }

    .slideShowButtons {
      display: flex;
      justify-content: space-between;
      justify-items: center;

      .slide-button {
        border: none;
        // display: inline-block;
        // outline: 0;
        padding: 8px 16px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: red;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
      }

      .slide-display-right {
      }

      .slide-display-left {
      }
    }
  }


}








