/* Problems */
* {
  margin: 0;
  padding: 0;
  user-select: none;
  color: white; }

img {
  max-width: 100%;
  height: auto; }

body {
  background-image: url("../images/bg1.jpg"); }

ul {
  list-style: none; }

.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  margin: 0 auto;
  opacity: 0.975;
  background-color: black; }
  .mainContainer .headContainer {
    display: flex;
    justify-content: center;
    background-color: springgreen; }
    .mainContainer .headContainer .headSection {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 85px;
      background-color: lightgoldenrodyellow; }
      .mainContainer .headContainer .headSection .logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px; }
        .mainContainer .headContainer .headSection .logoContainer .logoSection {
          max-width: 50%; }
          .mainContainer .headContainer .headSection .logoContainer .logoSection .logoPic {
            width: 100%; }
          .mainContainer .headContainer .headSection .logoContainer .logoSection:hover {
            background-color: darkred;
            cursor: pointer; }
      .mainContainer .headContainer .headSection .basketContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px; }
        .mainContainer .headContainer .headSection .basketContainer .basketSection {
          max-width: 20%; }
          .mainContainer .headContainer .headSection .basketContainer .basketSection .basketPic {
            width: 100%; }
          .mainContainer .headContainer .headSection .basketContainer .basketSection:hover {
            background-color: darkred;
            cursor: pointer; }
  .mainContainer .menuContainer {
    background-color: lightsteelblue; }
    .mainContainer .menuContainer .menu {
      display: flex;
      justify-content: space-around; }
      .mainContainer .menuContainer .menu .menuItem {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0.247;
        height: 50px;
        border: 2px solid darkred;
        background-color: black;
        transition: background-color 1s; }
        .mainContainer .menuContainer .menu .menuItem:hover {
          background-color: darkred;
          border: 2px solid black;
          cursor: pointer; }
  .mainContainer .slideShowContainer {
    display: flex;
    justify-content: center; }
    .mainContainer .slideShowContainer .slideShowImages {
      display: flex;
      width: 100%;
      height: 440px;
      justify-content: center; }
    .mainContainer .slideShowContainer .slide-button {
      border: none;
      display: inline-block;
      outline: 0;
      padding: 0 0.6%;
      vertical-align: middle;
      overflow: hidden;
      text-decoration: none;
      color: darkred;
      background-color: inherit;
      text-align: center;
      cursor: pointer;
      white-space: nowrap; }
  .mainContainer .newSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainContainer .newSectionContainer .object-fit-cover {
      max-height: 200px;
      width: 80%;
      object-fit: cover; }
    .mainContainer .newSectionContainer .newSectionText {
      border-bottom: 2px solid darkred;
      width: 90%;
      margin-bottom: 12px; }
      .mainContainer .newSectionContainer .newSectionText .newest_string {
        margin-top: 45px; }
    .mainContainer .newSectionContainer .newSectionFigure {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      max-width: 90%;
      max-height: 2200px; }
      .mainContainer .newSectionContainer .newSectionFigure .newClothesContainer {
        width: 250px;
        height: 250px;
        border: 1px solid white;
        margin-bottom: 20px; }
        .mainContainer .newSectionContainer .newSectionFigure .newClothesContainer .newClothesImage {
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 1px solid darkred; }
        .mainContainer .newSectionContainer .newSectionFigure .newClothesContainer .newClothesInfo {
          display: flex;
          justify-content: center;
          width: 100%; }

/*# sourceMappingURL=style_index.css.map */
